<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
</head>
<body>
<% @studentsByLocation.each do |student| %>
  <li><%= student['name'] %>, <%= student['age'] %>, <%=student['campus'] %></li>
  <% end %>
  </ul>

</body>
</html>