<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
</head>
<body>
  <form action="/form" method="POST">
    <select>
      <option name="SF" value="SF">SF</option>
      <option value="NYC">NYC</option>
      <option value="CHI">CHI</option>
      <option value="SD">SD</option>
      <option value="SEA">SEA</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</body>
</html>